/* botões */
button.adicionar {
	background-color: #1c84c6;
	border-color: #1c84c6;
	border: 1px solid;
	border-radius: 5px;
	color: var(--color-secundaria);
	padding: 5px 5px;
	text-decoration: none;
	width: 92px;
	height: 26px;
	font-size: 10px;
    margin: 0px 5px 10px 5px;
}

 a.editar {
 	align-items: center;
	background-color: #1AB394;
	border: 1px solid;
	border-radius: 5px;
	color: var(--color-secundaria);
 	display: flex;
 	justify-content: space-between;
	padding: 1px 10px 1px 10px;
	text-decoration: none;
	width: auto;
   	margin: 0px 5px 0px 5px;
	
}

a.excluir  {
 	align-items: center;
	background-color: #FF0D0D;
	border: 1px solid;
	border-radius: 5px;
	color: var(--color-secundaria);
	display: flex;
 	justify-content: space-between;
	padding: 1px 10px 1px 10px;
	text-decoration: none;
	width: auto;
   	margin: 0px 5px 0px 5px;
}

a.status {
	align-items: center;
	display: flex;
	gap: 3px;
	text-decoration: none;
	padding: 5px 5px;
	width: 80px;
	color: #000;
}