/* cadastro */
main .cadastro {
    background: var(--color-secundaria);
    border-radius: 0.3125rem;					/* 5px */
    display: inline-block;
    height: auto;
    margin-bottom: 0.625rem;					/* 10px */
    width: 100%;
}

main .cadastro div {
    display: inline;
}

main .cadastro div h2 {
    align-items: center;
    color: var(--color-terciaria);
    display: flex;
    font-size: 0.625rem;						/* 10px */
    font-weight: var(--font-weight-bold);
    height: 2.25rem;							/* 36px */
    margin: 0.625rem 0.625rem 0px 0.625rem;		/* 10px 10px 0px 10px */
    padding: 0.625rem;							/* 10px */
}

main .cadastro div form {
    color: var(--color-terciaria);
    display: flex;
    /* flex-wrap: wrap; */
  	font-size: 0.625rem;						/* 10px */
    font-weight: var(--font-weight-regular);
    gap: 0.2rem;
    margin: 0rem 0.625rem 0.625rem 0.625rem;	/* 0px 10px 10px 10px */
    padding: 0rem 0rem 0rem 0.625rem;			/* 0px 0px 0px 10px */
}

main .cadastro div form div {
    border: solid 1px;
    border-color: var(--color-primaria);
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    text-align: center;
    justify-content: center;
}

main .cadastro div form div label {
    align-items: center;
    display: flex;
    height: 1.125rem;							/* 18px */
    justify-content: center;
    margin: 0.625rem 0.625rem 0rem 0.625rem;	/* 10px 10px 0px 10px */
}

main .cadastro div form div input {
    text-align: center;
    background-color: var(--color-primaria);
    color: var(--color-terciaria);
    display: flex;
    font-size: 0.625rem;						/* 10px */
    font-weight: var(--font-weight-regular);
    height: 1.125rem;							/* 18px */
    margin: 0rem 0.375rem 0.625rem 0.375rem;	/* 0px 6px 10px 6px */
    border-radius: 0.3125rem;
	border: 1px solid var(--color-primaria);
}

main .cadastro div form div select {
	background-color: var(--color-primaria);
    color: var(--color-terciaria);
    display: flex;
    font-size: 0.6rem;							
    font-weight: var(--font-weight-regular);
    height: 1.5rem;								/* 24px */
    justify-content: center;
    margin: 0rem 0.375rem 0.625rem 0.375rem;	/* 0px 6px 10px 6px */
    text-align: center;
    border-radius: 0.3125rem;
	border: 1px solid var(--color-primaria);

}

main .cadastro div form div .suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: var(--color-primaria);
    color: var(--color-terciaria);
    width: inherit;
    z-index: 10;
    top: 3.5rem; /* Ajuste este valor conforme a altura do seu label e input */
    left: 0; /* Alinha a ul com a borda esquerda do input */
}
main .cadastro div form div .suggestions li {
    padding: 8px;
    cursor: pointer;
}
main .cadastro div form div .suggestions li:hover {
    background-color: var(--color-secundaria);
}

main .cadastro div form div input[type="datetime-local" i] {
    font-size: 0.46rem;
    color: var(--color-terciaria);
    height: 1.25rem;
}

main .cadastro div form #adicionar {
    display: inline;
    height: 5.625rem;							/* 90px */
    width: 10.625rem;							/* 170px */
}

main .cadastro div form #adicionar button {
    height: 1.75rem;							/* 170px */
    width: auto;
}

main .cadastro div form div .text-danger {
    text-align: center;
    /* background-color: var(--color-primaria); */
    color: #FF0D0D;
    display: flex;
    font-size: 0.625rem;						
    font-weight: var(--font-weight-regular);
    margin: 0rem 0.375rem 0.625rem 0.375rem;	
    padding: 0.3rem 0rem;
    border-radius: 0.3125rem;
	border: 1px solid #FF0D0D;
}

main .cadastro .alert-error {
	text-align: center;
    background-color: #FF0D0D;
    color: #FFFFFF;
    display: flex;
    font-size: 0.625rem;						
    font-weight: #FF0D0D;
    margin: 0rem 0.375rem 0.625rem 0.375rem;
    padding: 0.3rem 0rem;
    border-radius: 0.3125rem;
	border: 1px solid #FF0D0D;
}

main .cadastro .alert-success {
	text-align: center;
    background-color: #1AB394;
    color: #FFFFFF;
    display: flex;
    font-size: 0.625rem;						
    font-weight: var(--font-weight-regular);
    margin: 0rem 0.375rem 0.625rem 0.375rem;
    padding: 0.3rem 0rem;
    border-radius: 0.3125rem;
	border: 1px solid #1AB394;
}

/* Campos */
main .cadastro div form .cadastro-nome {
    width: 11.2rem;		
}

main .cadastro div form .cadastro-cpf {
    width: 5.625rem;							/* 90px */
}

main .cadastro div form .cadastro-cnpj {
    width: 5.625rem;							/* 90px */
}

main .cadastro div form .cadastro-email {
    width: 9.375rem;							/* 150px */
}

main .cadastro div form .cadastro-celular {
    width: 5.625rem;							/* 90px */
}

main .cadastro div form .cadastro-telefone {
    width: 5.625rem;							/* 90px */
}

main .cadastro div form .cadastro-usuario {
    width: 5rem;							
}

main .cadastro div form .cadastro-senha {
    width: 4rem;							
}

main .cadastro div form .cadastro-acesso {
    width: 6rem;							
}

main .cadastro div form .cadastro-descricao {
    width: 12.5rem;								/* 200px */
}

main .cadastro div form .cadastro-produto {
    width: 11.2rem;		
}

main .cadastro div form .cadastro-quantidade {
	width: 6rem;								/* 80px */
}

main .cadastro div form .cadastro-valorUnitario {
	width: 6.875rem;							/* 110px */
}

main .cadastro div form .cadastro-valorTotal {
	width: 6.875rem;							/* 110px */
}

main .cadastro div form .cadastro-dataEntrada {
	width: 7.1875rem;							/* 115px */
}

main .cadastro div form .cadastro-dataConcluida {
	width: 7.1875rem;							/* 115px */
}

main .cadastro div form .cadastro-dataSaida {
	width: 7.1875rem;							/* 115px */
}

@media (max-width: 1300px) {
	
	main .cadastro div h2 {
	    font-size: 0.625rem;					/* 10px */
	}
	
	main .cadastro div form {
	    font-size: 0.625rem;					/* 10px */
	    flex-wrap: wrap;
	    gap: 0rem;								/* 0px */
	}
	
	main .cadastro div form .cadastro-nome {
	    width: 10rem;							
	}
	
	main .cadastro div form .cadastro-produto {
	    width: 10rem;							
	}
	
	main .cadastro div form .cadastro-email {
	    width: 5.5rem;							
	}
	
}
