/* cadastro */
main .cadastro {
    background: var(--color-secundaria);
    border-radius: 5px;
    display: inline-block;
    height: auto;
    margin-bottom: 10px;
    width: auto;
}

main .cadastro div {
    display: inline;
}

main .cadastro div h2 {
    align-items: center;
    color: var(--color-terciaria);
    display: flex;
    font-size: 10px;
    font-weight: var(--font-weight-bold);
    height: 36px;
    margin: 10px 10px 0px 10px;
    padding: 10px;
    width: auto;
}

main .cadastro div form {
    color: var(--color-terciaria);
    display: flex;
    /* flex-wrap: wrap; */
    font-size: 10px;
    font-weight: var(--font-weight-regular);
    gap: 6px;
    margin: 0px 10px 10px 10px;
    padding: 0px 0px 0px 10px;
}

main .cadastro div form div {
    border: solid 1px;
    border-color: var(--color-primaria);
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* width: 100px; */
}

main .cadastro div form div label {
    align-items: center;
    display: flex;
    height: 18px;
    justify-content: center;
    margin: 10px 10px 0px 10px;
}

main .cadastro div form div input {
    text-align: center;
    color: var(--color-terciaria);
    display: flex;
    font-size: 10px;
    font-weight: var(--font-weight-regular);
    height: 18px;
    margin: 0px 6px 10px 6px;
}

main .cadastro div form div select {
    color: var(--color-terciaria);
    display: flex;
    font-size: 6px;
    font-weight: var(--font-weight-regular);
    height: 24px;
    justify-content: center;
    margin: 0px 6px 10px 6px;
    text-align: center;

}

main .cadastro div form div input[type="datetime-local" i] {
    font-size: 6px;
    text-align: center;
}

main .cadastro div form #adicionar {
    display: inline;
    height: 90px;
    width: 170px;
}

main .cadastro div form #adicionar button {
    height: 28px;
    width: auto;
}

/* Campos */
main .cadastro div form .cadastro-nome {
    width: 150px;
}

main .cadastro div form .cadastro-cpf {
    width: 90px;
}

main .cadastro div form .cadastro-cnpj {
    width: 90px;
}

main .cadastro div form .cadastro-email {
    width: 150px;
}

main .cadastro div form .cadastro-celular {
    width: 90px;
}

main .cadastro div form .cadastro-telefone {
    width: 90px;
}

main .cadastro div form .cadastro-usuario {
    width: 60px;
}

main .cadastro div form .cadastro-senha {
    width: 60px;
}

main .cadastro div form .cadastro-acesso {
    width: 60px;
}

main .cadastro div form .cadastro-descricao {
    width: 200px;
}

main .cadastro div form .cadastro-produto {
    width: 150px;
}

main .cadastro div form .cadastro-quantidade {
	width: 80px;
}

main .cadastro div form .cadastro-valorUnitario {
	width: 110px;
}

main .cadastro div form .cadastro-valorTotal {
	width: 110px;
}

main .cadastro div form .cadastro-dataEntrada {
	width: 115px;
}

main .cadastro div form .cadastro-dataConcluida {
	width: 115px;
}

main .cadastro div form .cadastro-dataSaida {
	width: 115px;
}

