header {
    background-color: var(--color-secundaria);
    text-align: center;
}

header nav {
	align-items: center;
    box-sizing: border-box;
    background-color: var(--color-secundaria);
	display: flex;
	justify-content: space-between;
    margin: 0 auto;
    padding: 0.5rem;
    width: 81.25rem;		/* 1300px */
}

header nav div {
	display: flex;
	gap: 1.25rem;			/* 20px */
	
}

header nav div a {
    color: var(--color-terciaria);
    font-size: 0.625rem;	/* 10px */
    font-weight: 600;		
    text-decoration: none;
    width: 5rem;
}

header nav div a:hover {			
	cursor: pointer;
}

@media (max-width: 1300px) {
	header nav {
	    width: 50rem;
	}
	
	header nav div a {
	    font-size: 0.5rem;
	}
	
}
