header {
    background: var(--color-secundaria);
    padding: 0.5rem;
    text-align: center;
}

header nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
    width: 1300px;
    margin: auto;
    gap: 1000px;
}

header nav div {
	display: flex;
	gap: 20px;
}

header nav div a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-terciaria);
}
