/* lista */
main .lista {
    background: var(--color-secundaria);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 10px;
    width: 100%;
}

main .lista div {
    display: block;
    margin-bottom: 10px;
}

main .lista div h2 {
    align-items: center;
    color: var(--color-terciaria);
    display: flex;
    height: 36px;
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    margin: 10px 10px 0px 10px;
    padding: 10px;
    width: auto;
}

main .lista div .titulo {
    display: flex;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

main .lista div .titulo span {
	border: solid 1px var(--color-primaria);
	font-size: 12px;
	width: 170px;
	height: 30px;
}

main .lista .linha-dados {
    display: flex;
    
    margin: 10px 0px 0px 0px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

main .lista .linha-dados span {
    width: 170px;
    border: solid 1px var(--color-primaria);
}
