/* lista */
main .lista {
    background: var(--color-secundaria);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 10px;
    width: 100%;
}

main .lista div {
    display: block;
    margin-bottom: 10px;
}

main .lista div h2 {
    align-items: center;
    color: var(--color-terciaria);
    display: flex;
    height: 36px;
    font-size: 10px;
    font-weight: var(--font-weight-bold);
    margin: 10px 10px 0px 10px;
    padding: 10px;
    width: auto;
}

main .lista div .titulo {
    display: flex;
    padding: 0px 10px 0px 10px;
    margin: 10px 10px 0px 10px;
}

main .lista div .titulo span {
	color: var(--color-terciaria);
	border: solid 1px var(--color-primaria);
	font-size: 10px;
	/* width: 170px; */
	height: 30px;
	align-items: center;
    display: flex;
    justify-content: center;
}

main .lista .linha-dados {
    display: flex;
    padding: 0px 10px 0px 10px;
    margin: 5px 10px 0px 10px;
    font-size: 10px;
}

main .lista .linha-dados span, .acoes {
    border: solid 1px var(--color-primaria);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 56px;
   	color: var(--color-terciaria);
}


/* cada campo individual */
.titulo-nome, .dados-nome {
	width: 150px;
}

.titulo-cnpj, .dados-cnpj {
	width: 90px;
}

.titulo-cpf, .dados-cpf {
	width: 90px;
}

.titulo-email, .dados-email {
	width: 150px;
}

.titulo-celular, .dados-celular {
	width: 90px;
}

.titulo-telefone, .dados-telefone {
	width: 90px;
}

.titulo-usuario, .dados-usuario {
	width: 60px;
}

.titulo-acesso, .dados-acesso {
	width: 60px;
}

.titulo-descricao, .dados-descricao {
	width: 200px;
}

.titulo-produto, .dados-produto {
	width: 150px;
}

.titulo-quantidade, .dados-quantidade {
	width: 80px;
}

.titulo-valorUnitario, .dados-valorUnitario {
	width: 110px;
}

.titulo-valorTotal, .dados-valorTotal {
	width: 110px;
}

.titulo-dataEntrada, .dados-dataEntrada {
	width: 115px;
}

.titulo-dataConcluida, .dados-dataConcluida {
	width: 115px;
}

.titulo-dataSaida, .dados-dataSaida {
	width: 115px;
}

.titulo-status, .dados-status {
	width: 100px;
}

.titulo-acoes, .acoes {
	width: 93px;
}

.titulo-funcionario, .dados-funcionario {
	width: 130px;
}

.titulo-moverSaida, .dados-moverSaida {
	width: 130px;
}
