* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primaria);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, var(--color-terciaria), var(--color-primaria));
}

.container {
    display: flex;
    width: 30rem;
    background: var(--color-terciaria);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.left-panel {
    background: var(--color-primaria);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-panel img {
    width: 80%;
}

.right-panel {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-primaria);
    color: #FFFFFF;
    font-size: 0.8rem;
}

.right-panel h2 {
	font-weight: var(--font-weight-bold);
	font-size: 1rem;
    margin-bottom: 20px;
}

.right-panel input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.right-panel .button {
	font-weight: var(--font-weight-semibold);
    font-family: var(--font-primaria);
    color: #FFFFFF;
    font-size: 0.8rem;
    width: 100%;
    padding: 10px;
	border: 1px solid #1c84c6;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #1c84c6;
}

.right-panel .button:hover {
    background-color: #1976D2;
}
