section {
    margin: auto;
    width: 81.25rem;	/* 1300px */ 
}

section div {
    display: flex;
    gap: 0.2rem;
    width: auto;		
}

section div aside {
    display: inline;
    margin-top: 5.625rem;	/* 90px */
    width: auto;
}

section div main {
    display: inline;
    width: 100%;
} 

/* Telas pequenas: celulares */
@media (max-width: 1300px) {
	section {
	    width: 50rem;
	}
	
	section div {
        flex-direction: column;
        gap: 0rem;
    }

    section div aside{
    	margin-top: 1rem;
        display: flex;
    }
    
}

@media (max-width: 800px) {
	section {
	    width: 22rem;
	}
	
	section div {
        flex-direction: column;
        gap: 0rem;
    }

    section div aside{
    	margin-top: 0.5rem;
        display: flex;
    }
    
}
