/* titulo */
main .titulo {
    align-items: center;
    display: flex;
    margin: 1rem 0rem;						/* 10px 0px */
}

main .titulo h2 {
    color: var(--color-terciaria);
    font-size: 0.75rem;							/* 12px */
    font-weight: var(--font-weight-semibold);
}


/* Telas pequenas: celulares */
@media (max-width: 1300px) {
	main .titulo {
    	flex-direction: row;
	}
	
}

@media (max-width: 800px) {
	main .titulo {
    	flex-direction: row;
    	margin: 0.3rem 0rem;
	}
	
	main .titulo h2 {
    	font-size: 0.5rem;
	}
	
}
