<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<!-- header.css -->
    <header th:replace="fragments/header :: header"></header>
    
    <!-- section.css -->
    <section>
        <div>
            <!-- aside.css -->
            <aside th:replace="fragments/aside :: aside"></aside>
            
            <!-- Main -->
            <main>
            	<!-- titulo.css -->
                <div class="titulo">
                    <img th:src="@{/images/entrada(70x70).svg}">
                    <h2>ENTRADA</h2>
                </div>
                
                <!-- cadastro.css -->
                <div class="cadastro">
					<div>
						<h2>Controle de Entrada</h2>
					</div>
                	<div>
						<form action="/entradas/lista" method="post">
							<div class="cadastro-nome">
								<label for="clienteNome">Cliente *</label>
					        	<input type="text" id="clienteNome" name="cliente.nome" minlength="3" maxlength="30" required>
							</div>
					        <div class="cadastro-produto">
								<label for="produto">Produto: *</label>
					        	<input type="text" id="produto" name="produto.nome" minlength="3" maxlength="30" required>
							</div>
					        <div class="cadastro-quantidade">
								<label for="quantidade">Quantidade: *</label>
					        	<input type="number" id="quantidade" name="quantidade" min="0" required>
							</div>
					        <div class="cadastro-dataEntrada">
								<label for="dataEntrada">Data da entrada: *</label>
					        	<input type="datetime-local" id="dataEntrada" name="dataEntrada" required/>
							</div>
							<div>
								<label></label>
								<button class="adicionar" type="submit" >Adicionar</button>
							</div>
							
					    </form>
					</div>
	                	               	
                </div>
                
                <!-- Entrada De Peças -->
                <div class="lista">
					<div>
						<h2>Entradas de Peças</h2>
						<div class="titulo">
							<span class="titulo-nome">Cliente</span>
							<span class="titulo-produto">Produto</span>
							<span class="titulo-quantidade">Quantidade</span>
							<span class="titulo-dataEntrada">Data Entrada</span>
							<span class="titulo-funcionario">Funcionário</span>
							<span class="titulo-status">Status</span>
							<span class="titulo-acoes">Ações</span>
						</div>
						
						<div class="linha-dados" th:each="entrada : ${pendentes}">
							<span class="dados-nome" th:text="${#strings.capitalize(entrada.cliente)}"></span>
							<span class="dados-produto" th:text="${#strings.capitalize(entrada.produto)}"></span>
							<span class="dados-quantidade" th:text="${entrada.quantidade}"></span>
							<span class="dados-dataEntrada" th:text="${#temporals.format(entrada.dataEntrada, 'HH:mm - dd/MM/yyyy')}"></span>
							<span class="dados-funcionario" th:text="${#strings.capitalize(entrada.funcionario != null ? entrada.funcionario.nome : 'Não informado')}"></span>
							
							<span class="dados-status">
								<a class="status" th:href="@{/entradas/concluido/{id}(id=${entrada.id})}">
									<p>Pendente</p>
									<img th:src="@{/images/uncheck(24x24).svg}">
								</a>
							</span>

							<div class="acoes">
						        <a class="editar" th:href="@{/entradas/editar/{id}(id=${entrada.id})}">
									<p>Editar</p>
									<img th:src="@{/images/edit(24x24).svg}">
								</a>
								<a class="excluir" th:href="@{/entradas/remover/{id}(id=${entrada.id})}">
									<p>Excluir</p>
									<img th:src="@{/images/delete(24x24).svg}">
								</a>
						    </div>
						    
						</div>
					</div>
					
					<!-- Peças Concluídas -->
					<div>
						<h2>Peças Concluídas</h2>
						<div class="titulo">
							<span class="titulo-nome">Cliente</span>
							<span class="titulo-produto">Produto</span>
							<span class="titulo-quantidade">Quantidade</span>
							<span class="titulo-dataConcluida">Data Concluído</span>
							<span class="titulo-funcionario">Funcionário</span>
							<span class="titulo-status">Status</span>
							<span class="titulo-acoes">Ações</span>
							<span class="titulo-moverSaida">Saída</span>
						</div>
						
						<div class="linha-dados" th:each="entrada : ${concluidas}">
							<span class="dados-nome" th:text="${#strings.capitalize(entrada.cliente)}"></span>
							<span class="dados-produto" th:text="${#strings.capitalize(entrada.produto)}"></span>
							<span class="dados-quantidade" th:text="${entrada.quantidade}"></span>
							<span class="dados-dataConcluida" th:text="${#temporals.format(entrada.dataConcluido, 'HH:mm - dd/MM/yyyy')}"></span>
							<span class="dados-funcionario" th:text="${#strings.capitalize(entrada.funcionario != null ? entrada.funcionario.nome : 'Não informado')}"></span>
							
							<span class="dados-status">
								<a class="status" th:href="@{/entradas/concluido/{id}(id=${entrada.id})}">
									<p>Concluído</p>
									<img th:src="@{/images/check(24x24).svg}">
								</a>
							</span>

							<div class="acoes">
						        <a class="editar" th:href="@{/entradas/editar/{id}(id=${entrada.id})}">
									<p>Editar</p>
									<img th:src="@{/images/edit(24x24).svg}">
								</a>
								<a class="excluir" th:href="@{/entradas/remover/{id}(id=${entrada.id})}">
									<p>Excluir</p>
									<img th:src="@{/images/delete(24x24).svg}">
								</a>
						    </div>
						    
						    <span class="dados-moverSaida">
								<a class="status" th:if="${entrada.concluido}" th:href="@{/entradas/moverParaSaida/{id}(id=${entrada.id})}">
									<p>Saida</p>
									<img th:src="@{/images/uncheck(24x24).svg}">
								</a>
							</span>
						</div>
					</div>
					
				</div>
				
			</main>
        </div>
    </section>

</body>
</html>
