<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/scripts/fragments/theme.js}" defer></script>
    <script th:src="@{/scripts/fragments/confirmacoes.js}" defer></script>
    
</head>
<body>
	<!-- header.css -->
    <header th:replace="~{fragments/header :: header}"></header>
    
    <!-- section.css -->
    <section>
        <div>
            <!-- aside.css -->
            <aside th:replace="~{fragments/aside :: aside}"></aside>
            
            <!-- Main -->
            <main>
            	<!-- titulo.css -->
                <div class="titulo">
                    <img th:src="@{/images/pallet(70x70).svg}">
                    <h2>ENTRADA</h2>
                </div>
                
                <!-- cadastro.css -->
                <div class="cadastro">
					<div>
						<h2>Controle de Entrada</h2>
					</div>
					
					<div th:if="${erro}" class="alert-error" role="alert">
                       	<p th:text="${erro}"></p>
                    </div>
                    <div th:if="${mensagem}" class="alert-success" role="alert">
                        <p th:text="${mensagem}"></p>
                    </div>
					
                	<div>
						<form id="form-entrada-adicao" action="/entradas/lista" th:object="${entrada}" method="post">
							
							<div class="cadastro-nome">
								<label for="cliente">Cliente *</label>
					        	<input type="text" id="cliente" name="cliente.nome" th:field="*{cliente.nome}" placeholder="(Entre 3 a 50 caracteres)">
					        	<ul id="cliente-suggestions" class="suggestions"></ul>
					        	
					        	<p th:if="${#fields.hasErrors('cliente.nome')}" th:errors="*{cliente.nome}" class="text-danger"></p>
							</div>
							
					        <div class="cadastro-produto">
								<label for="produto">Produto: *</label>
					        	<input type="text" id="produto" name="produto.nome" th:field="*{produto.nome}" placeholder="(Entre 3 a 50 caracteres)">
					        	<ul id="produto-suggestions" class="suggestions"></ul>
					        	
					        	<p th:if="${#fields.hasErrors('produto.nome')}" th:errors="*{produto.nome}" class="text-danger"></p>
							</div>
							
					        <div class="cadastro-quantidade">
								<label for="quantidade">Quantidade: *</label>
					        	<input type="number" id="quantidade" name="quantidade" th:field="*{quantidade}" min="0" placeholder="(Minimo: 0)">
								
								<p th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}" class="text-danger"></p>
							</div>
							
					        <div class="cadastro-dataEntrada">
								<label for="dataEntrada">Data da entrada: *</label>
					        	<input type="datetime-local" id="dataEntrada" th:field="*{dataEntrada}" name="dataEntrada"/>
					        	
								<p th:if="${#fields.hasErrors('dataEntrada')}" th:errors="*{dataEntrada}" class="text-danger"></p>
							</div>
							
							<div>
								<button class="adicionar" type="submit" onclick="confirmarAdicao()">Adicionar</button>
							</div>
							 
					    </form>
					</div>
					         	
                </div>
                
                <!-- Entrada De Peças -->
                <div class="lista">
					<div>
						<h2>Entradas de Peças</h2>
						<div class="titulo">
							<span class="titulo-nome">
				                <a th:href="@{/entradas/lista(sortBy='cliente.nome', sortDirection=${sortDirection == 'asc' and sortBy == 'cliente.nome' ? 'desc' : 'asc'})}">
				                    <span th:unless="${sortBy == 'cliente.nome'}">● Cliente</span>
                                    <span th:if="${sortBy == 'cliente.nome' and sortDirection == 'asc'}">▲ Cliente</span>
							        <span th:if="${sortBy == 'cliente.nome' and sortDirection == 'desc'}">▼ Cliente</span>
				                </a>
				            </span>
							<span class="titulo-produto">
				                <a th:href="@{/entradas/lista(sortBy='produto.nome', sortDirection=${sortDirection == 'asc' and sortBy == 'produto.nome' ? 'desc' : 'asc'})}">
				                    <span th:unless="${sortBy == 'produto.nome'}">● Produto</span>
                                    <span th:if="${sortBy == 'produto.nome' and sortDirection == 'asc'}">▲ Produto</span>
							        <span th:if="${sortBy == 'produto.nome' and sortDirection == 'desc'}">▼ Produto</span>
				                </a>
				            </span>
							<span class="titulo-quantidade">Qtd</span>
							<span class="titulo-dataEntrada">
				                <a th:href="@{/entradas/lista(sortBy='dataEntrada', sortDirection=${sortDirection == 'asc' and sortBy == 'dataEntrada' ? 'desc' : 'asc'})}">
				                    <span th:unless="${sortBy == 'dataEntrada'}">● Data Entrada</span>
                                    <span th:if="${sortBy == 'dataEntrada' and sortDirection == 'asc'}">▲ Data Entrada</span>
							        <span th:if="${sortBy == 'dataEntrada' and sortDirection == 'desc'}">▼ Data Entrada</span>
				                </a>
				            </span>
							<span class="titulo-funcionario">Funcionário</span>
							<span class="titulo-status">Status</span>
							<span class="titulo-acoes">Ações</span>
						</div>
						
						<div class="linha-dados" th:each="entrada : ${pendentes}">
							<span class="dados-nome" th:text="${#strings.capitalize(entrada.cliente)}"></span>
							<span class="dados-produto" th:text="${#strings.capitalize(entrada.produto)}"></span>
							<span class="dados-quantidade" th:text="${entrada.quantidade}"></span>
							<span class="dados-dataEntrada" th:text="${#temporals.format(entrada.dataEntrada, 'HH:mm - dd/MM/yyyy')}"></span>
							<span class="dados-funcionario" th:text="${#strings.capitalize(entrada.funcionario != null ? entrada.funcionario.nome : 'Não informado')}"></span>
							
							<span class="dados-status">
								<a class="status" href="#" onclick="confirmarStatus(this)" th:attr="data-url=@{/entradas/concluido/{id}(id=${entrada.id})}">
									<p>Concluir</p>
									<img th:src="@{/images/uncheck(24x24).svg}">
								</a>
							</span>

							<div class="acoes">
						        <a class="editar" href="#" onclick="confirmarEdicao(this)" th:attr="data-url=@{/entradas/editar/{id}(id=${entrada.id})}">
								    <p>Editar</p>
								    <img th:src="@{/images/edit(24x24).svg}">
								</a>
								<a class="excluir" href="#" onclick="confirmarExclusao(this)" th:attr="data-url=@{/entradas/remover/{id}(id=${entrada.id})}">
								    <p>Excluir</p>
								    <img th:src="@{/images/delete(24x24).svg}">
								</a>
						    </div>
						    
						</div>
					</div>
					
					<!-- Peças Concluídas -->
					<div>
						<h2>Peças Concluídas</h2>
						<div class="titulo">
							<span class="titulo-nome">
				                <a th:href="@{/entradas/lista(sortBy='cliente.nome', sortDirection=${sortDirection == 'asc' and sortBy == 'cliente.nome' ? 'desc' : 'asc'})}">
				                    <span th:unless="${sortBy == 'cliente.nome'}">● Cliente</span>
                                    <span th:if="${sortBy == 'cliente.nome' and sortDirection == 'asc'}">▲ Cliente</span>
							        <span th:if="${sortBy == 'cliente.nome' and sortDirection == 'desc'}">▼ Cliente</span>
				                </a>
				            </span>
				            <span class="titulo-produto">
				                <a th:href="@{/entradas/lista(sortBy='produto.nome', sortDirection=${sortDirection == 'asc' and sortBy == 'produto.nome' ? 'desc' : 'asc'})}">
				                    <span th:unless="${sortBy == 'produto.nome'}">● Produto</span>
                                    <span th:if="${sortBy == 'produto.nome' and sortDirection == 'asc'}">▲ Produto</span>
							        <span th:if="${sortBy == 'produto.nome' and sortDirection == 'desc'}">▼ Produto</span>
				                </a>
				            </span>
							<span class="titulo-quantidade">Qtd</span>
							<span class="titulo-dataConcluida">
				                <a th:href="@{/entradas/lista(sortBy='dataConcluido', sortDirection=${sortDirection == 'asc' and sortBy == 'dataConcluido' ? 'desc' : 'asc'})}">
				                    <span th:unless="${sortBy == 'dataConcluido'}">● Data Concluído</span>
                                    <span th:if="${sortBy == 'dataConcluido' and sortDirection == 'asc'}">▲ Data Concluído</span>
							        <span th:if="${sortBy == 'dataConcluido' and sortDirection == 'desc'}">▼ Data Concluído</span>
				                </a>
				            </span>
							<span class="titulo-funcionario">Funcionário</span>
							<span class="titulo-status">Status</span>
							<span class="titulo-acoes">Ações</span>
							<span class="titulo-moverSaida">Saída</span>
						</div>
						
						<div class="linha-dados" th:each="entrada : ${concluidas}">
							<span class="dados-nome" th:text="${#strings.capitalize(entrada.cliente)}"></span>
							<span class="dados-produto" th:text="${#strings.capitalize(entrada.produto)}"></span>
							<span class="dados-quantidade" th:text="${entrada.quantidade}"></span>
							<span class="dados-dataConcluida" th:text="${#temporals.format(entrada.dataConcluido, 'HH:mm - dd/MM/yyyy')}"></span>
							<span class="dados-funcionario" th:text="${#strings.capitalize(entrada.funcionario != null ? entrada.funcionario.nome : 'Não informado')}"></span>
							
							<span class="dados-status">
								<a class="status" href="#" onclick="confirmarStatus(this)" th:attr="data-url=@{/entradas/concluido/{id}(id=${entrada.id})}">
									<p>Concluído</p>
									<img th:src="@{/images/check(24x24).svg}">
								</a>
							</span>

							<div class="acoes">
						        <a class="editar" href="#" onclick="confirmarEdicao(this)" th:attr="data-url=@{/entradas/editar/{id}(id=${entrada.id})}">
								    <p>Editar</p>
								    <img th:src="@{/images/edit(24x24).svg}">
								</a>
								<a class="excluir" href="#" onclick="confirmarExclusao(this)" th:attr="data-url=@{/entradas/remover/{id}(id=${entrada.id})}">
								    <p>Excluir</p>
								    <img th:src="@{/images/delete(24x24).svg}">
								</a>
						    </div>
						    
						    <span class="dados-moverSaida">
								<a class="status" th:if="${entrada.concluido}" href="#" onclick="confirmarSaida(this)" th:attr="data-url=@{/entradas/moverParaSaida/{id}(id=${entrada.id})}">
									<p>Saida</p>
									<img th:src="@{/images/uncheck(24x24).svg}">
								</a>
							</span>
						</div>
					</div>
					
				</div>
				
			</main>
        </div>
    </section>
    
    <script>
	    document.addEventListener('DOMContentLoaded', function() {
	        const clienteInput = document.getElementById('cliente');
	        const clienteSuggestions = document.getElementById('cliente-suggestions');
	        const produtoInput = document.getElementById('produto');
	        const produtoSuggestions = document.getElementById('produto-suggestions');
	
	        clienteInput.addEventListener('input', function() {
	            const query = this.value;
	            if (query.length >= 2) { // Disparar a busca após 2 caracteres (ajuste conforme necessário)
	                fetch(`/entradas/autocomplete/clientes?query=${query}`)
	                    .then(response => response.json())
	                    .then(data => displaySuggestions(data, clienteSuggestions, clienteInput));
	            } else {
	                clearSuggestions(clienteSuggestions);
	            }
	        });
	
	        produtoInput.addEventListener('input', function() {
	            const query = this.value;
	            if (query.length >= 2) {
	                fetch(`/entradas/autocomplete/produtos?query=${query}`)
	                    .then(response => response.json())
	                    .then(data => displaySuggestions(data, produtoSuggestions, produtoInput));
	            } else {
	                clearSuggestions(produtoSuggestions);
	            }
	        });
	
	        function displaySuggestions(suggestions, suggestionList, inputField) {
	            suggestionList.innerHTML = ''; // Limpa as sugestões anteriores
	            if (suggestions && suggestions.length > 0) {
	                suggestions.forEach(item => {
	                    const li = document.createElement('li');
	                    li.textContent = item;
	                    li.addEventListener('click', function() {
	                        inputField.value = this.textContent;
	                        clearSuggestions(suggestionList);
	                    });
	                    suggestionList.appendChild(li);
	                });
	            } else {
	                const li = document.createElement('li');
	                li.textContent = 'Nenhum resultado encontrado.';
	                suggestionList.appendChild(li);
	            }
	        }
	
	        function clearSuggestions(suggestionList) {
	            suggestionList.innerHTML = '';
	        }
	    });
	</script>
    
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
</body>
</html>
