<!-- Aside -->
<aside th:fragment="aside">
    <a href="/funcionarios/lista">
        <img th:src="@{/images/home(36x36).svg}">
        <h3>Funcionários</h3>
    </a>
    <a href="/clientes/lista">
        <img th:src="@{/images/home(36x36).svg}">
        <h3>Clientes</h3>
    </a>
    <a href="/produtos/lista">
        <img th:src="@{/images/home(36x36).svg}">
        <h3>Produtos</h3>
    </a>
    <a href="/entradas/lista">
        <img th:src="@{/images/home(36x36).svg}">
        <h3>Entrada</h3>
    </a>
    <a href="/saidas/lista">
        <img th:src="@{/images/home(36x36).svg}">
        <h3>Saída</h3>
    </a>
</aside>