<!-- Aside -->
<aside th:fragment="aside">
    <a href="/">
        <img th:src="@{/images/home(pequeno).svg}">
        <h3>Início</h2>
    </a>
    <a href="/funcionarios/lista">
        <img th:src="@{/images/home(pequeno).svg}">
        <h3>Funcionários</h2>
    </a>
    <a href="/clientes/lista">
        <img th:src="@{/images/home(pequeno).svg}">
        <h3>Clientes</h2>
    </a>
    <a href="/entradas/lista">
        <img th:src="@{/images/home(pequeno).svg}">
        <h3>Entrada</h2>
    </a>
    <a href="/saidas/lista">
        <img th:src="@{/images/home(pequeno).svg}">
        <h3>Saída</h2>
    </a>
</aside>