<!-- Header -->
<header th:fragment="header">

	 <nav>
	 	<div>
	 		<a href="/index">
			    <img th:src="@{/images/home(36x36).svg}">
			    <h3>Início</h3>
			</a>
			<button onclick="toggleTheme()" class="tema-botao">
			    <img th:src="@{/images/home(36x36).svg}" alt="Alternar Tema">
			    <h3>Temas</h3>
			</button>
	 	</div>
	 	
	     <div>
	     	<a href="/index">
			    <img th:src="@{/images/home(36x36).svg}">
			    <h3>Configuração</h3>
			</a>
	      	<a href="/logout">
			    <img th:src="@{/images/home(36x36).svg}">
			    <h3>Logout</h3>
			</a>
	     </div>
	 </nav>

</header>
