<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/scripts/fragments/theme.js}" defer></script>
    <script th:src="@{/scripts/fragments/confirmacoes.js}" defer></script>
</head>
<body>
	<!-- header.css -->
    <header th:replace="fragments/header :: header"></header>
    
    <!-- section.css -->
    <section>
        <div>
            <!-- aside.css -->
            <aside th:replace="fragments/aside :: aside"></aside>
            
            <!-- Main -->
            <main>
            	<!-- titulo.css -->
                <div class="titulo">
                    <img th:src="@{/images/entrada(70x70).svg}">
                    <h2>PRODUTOS</h2>
                </div>
                
                <!-- cadastro.css -->
                <div class="cadastro">
					<div>
						<h2>Cadastro de produtos</h2>
					</div>
                	<div>
						<form id="form-produto-adicao" action="/produtos/lista" method="post">
							<div class="cadastro-nome">
								<label for="nome">Nome: *</label>
					        	<input type="text" id="nome" name="nome" minlength="3" maxlength="50" placeholder="(Entre 3 a 50 caracteres)" required>
							</div>
							
							<div class="cadastro-descricao">
						        <label for="descricao">Descrição:</label>
						        <input type="text" id="descricao" name="descricao" maxlength="100" placeholder="(100 caracteres)">
						    </div>
						    
						    <div class="cadastro-quantidade">
								<label for="quantidade">Quantidade:</label>
					        	<input type="number" id="quantidade" name="quantidade" min="0" placeholder="(Minimo: 0)">
							</div>
							
							<div class="cadastro-valorUnitario">
								<label for="valorUnitario">Valor Unitário:</label>
					        	<input type="number" id="valorUnitario" name="valorUnitario" step="1.00" min="0" placeholder="(Minimo: 0,00)">
							</div>

							<div>
								<label></label>
								<button class="adicionar" type="submit" onclick="confirmarAdicao()">Adicionar</button>
							</div>
							
					    </form>
					</div>
	                	               	
                </div>
                
                <!-- lista -->
                <div class="lista">
					<div>
						<h2>Lista de produtos</h2>
						<div class="titulo">
							<span class="titulo-nome">Nome</span>
							<span class="titulo-descricao">Descrição</span>
							<span class="titulo-quantidade">Quantidade</span>
							<span class="titulo-valorUnitario">Valor Unitário (R$)</span>
							<span class="titulo-valorTotal">Valor Total (R$)</span>
							<span class="titulo-acoes">Ações</span>
						</div>
						
						<div class="linha-dados" th:each="produto : ${produtos}">
							<span class="dados-nome" th:text="${#strings.capitalize(produto.nome)}"></span>
							<span class="dados-descricao" th:text="${#strings.capitalize(produto.descricao)}"></span>
							<span class="dados-quantidade" th:text="${produto.quantidade}"></span>
							<span class="dados-valorUnitario" th:text="${#numbers.formatDecimal(produto.valorUnitario, 1, 'POINT', 2, 'COMMA')}"></span>
							<span class="dados-valorTotal" th:text="${#numbers.formatDecimal(produto.valorTotal, 1, 'POINT', 2, 'COMMA')}"></span>
														
							<div class="acoes">
						        <a class="editar" href="#" onclick="confirmarEdicao(this)"
						        th:attr="data-url=@{/produtos/editar/{id}(id=${produto.id})}">
						            <p>Editar</p>
						            <img th:src="@{/images/edit(24x24).svg}" alt="Editar">
						        </a>
						        <a class="excluir" href="#" onclick="confirmarExclusao(this)"
						        th:attr="data-url=@{/produtos/remover/{id}(id=${produto.id})}">
						            <p>Excluir</p>
						            <img th:src="@{/images/delete(24x24).svg}" alt="Excluir">
						        </a>
						    </div>
						</div>
					</div>
				</div>	
				
			</main>
        </div>
    </section>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
</body>
</html>
