@import url(./fragments/reset.css);
@import url(./fragments/header.css);
@import url(./fragments/section.css);
@import url(./fragments/aside.css);
@import url(./fragments/titulo.css);
@import url(./fragments/busca.css);
@import url(./fragments/cadastro.css);
@import url(./fragments/lista.css);
@import url(./fragments/botoes.css);
@import url(./fragments/paginacao.css);

:root {
    /* font */
    --font-primaria: 'Inter', sans-serif;
    /* font weigth */
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    /* cores do tema claro (padrão) */
    --color-primaria: #E4E5E7;
    --color-secundaria: #FFFFFF;
    --color-terciaria: #43484B;
}

body.dark-mode {
    /* cores do tema escuro */
    --color-primaria: #121212;
    --color-secundaria: #1e1e1e;
    --color-terciaria: #e4e4e4;
}

body {
    background: var(--color-primaria);
    font-family: var(--font-primaria);
    height: 100vh;
    width: 100%;
}

/*                 (Testando ainda)           */
/* Telas pequenas: celulares */
@media (max-width: 700px) { }

/* Telas médias: tablets */
@media (max-width: 900px) { }

/* Telas grandes: desktops */
@media (min-width: 901px) { }
