<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/scripts/fragments/theme.js}" defer></script>
    <script th:src="@{/scripts/fragments/confirmacoes.js}" defer></script>  
</head>
<body>
    <!-- header.css -->
    <header th:replace="fragments/header :: header"></header>
    
    <!-- section.css -->
    <section>
        <div>
            <!-- aside.css -->
            <aside th:replace="fragments/aside :: aside"></aside>
            
            <!-- Main -->
            <main>
            	<!-- titulo.css -->
                <div class="titulo">
                    <img th:src="@{/images/view_list(70x70).svg}">
                    <h2>EDITAR SAÍDA</h2>
                </div>
                
                <!-- Cadastro De Peças -->
                <div class="cadastro">
                	<div>
	                    <h2>Controle de Saidas</h2>
                	</div>
                	<div>
                		<form id="form-saida-atualizacao" th:action="@{/saidas/editar/{id}(id=${saida.id})}" th:object="${saida}" method="post">
	                        
	                        <input type="hidden" th:field="*{id}"/>
	                        							
	                        <div class="cadastro-nome">
	                            <label for="nome">Cliente *</label>
	                            <input type="text" id="nome" th:field="*{cliente}" 
	                            	   minlength="3" maxlength="50" 
	                            	   placeholder="(Entre 3 a 50 caracteres)" required>
	                        </div>
	                        
	                        <div class="cadastro-produto">
	                            <label for="produto">Produto: *</label>
	                            <input type="text" id="produto" th:field="*{produto}" 
			                           minlength="3" maxlength="50" 
			                           placeholder="(Entre 3 a 50 caracteres)" required>
	                        </div>
	                        
	                        <div class="cadastro-quantidade">
	                            <label for="quantidade">Quantidade: *</label>
	                            <input type="number" id="quantidade" th:field="*{quantidade}" 
	                            	   min="0" placeholder="(Minimo: 0)" required>
	                        </div>
	                        
	                        <div class="cadastro-valorUnitario">
	                            <label for="valorUnitario">Valor Unitário:</label>
	                            <input type="number" id="valorUnitario" th:field="*{valorUnitario}" 
	                            	   step="1.00" min="0" placeholder="(Minimo: 0,00)">
	                        </div>
	                        
	                        <div class="cadastro-dataEntrada">
	                            <label for="dataEntrada">Data da entrada *:</label>
	                            <input type="datetime-local" id="dataEntrada" 
	                            	   th:value="${#temporals.format(saida.dataEntrada, 'yyyy-MM-dd''T''HH:mm')}"	
	                            	   th:field="*{dataEntrada}" required/>
	                        </div>
	                        <div class="cadastro-dataConcluido">
	                            <label for="dataConcluido">Data Concluído *:</label>
	                            <input type="datetime-local" id="dataConcluido" 
	                            	   th:value="${#temporals.format(saida.dataConcluido, 'yyyy-MM-dd''T''HH:mm')}"
	                            	   th:field="*{dataConcluido}" required/>
	                        </div>	                        
	                        <div class="cadastro-dataSaida">
	                            <label for="dataSaida">Data Saída *:</label>
	                            <input type="datetime-local" id="dataSaida" 
	                            	   th:value="${#temporals.format(saida.dataSaida, 'yyyy-MM-dd''T''HH:mm')}"
	                            	   th:field="*{dataSaida}" required/>
	                        </div>
	                        
	                        <div class="cadastro-funcionario">
	                            <label for="funcionario">Funcionário:</label>
	                            <input type="text" id="funcionario" th:field="*{funcionario}"/>
	                        </div>
	                        
	                        <div>
								<button class="adicionar" type="submit" onclick="confirmarAtualizacao()">Atualizar</button>
							</div>
                    	</form>
                	</div>
               	</div>
               	
               	<div class="lista">
               		<div>
               			<h2>Peça à Editar</h2>
               			<div class="titulo">
							<span class="titulo-nome">Cliente</span>
							<span class="titulo-produto">Produto</span>
							<span class="titulo-quantidade">Quantidade</span>
							<span class="titulo-valorUnitario">Valor Unitário (R$)</span>
							<span class="titulo-valorTotal">Valor Total (R$)</span>
							<span class="titulo-dataEntrada">Data Entrada</span>
							<span class="titulo-dataConcluida">Data Concluída</span>
							<span class="titulo-dataSaida">Data Saída</span>
							<span class="titulo-funcionario">Funcionário</span>
						</div>
               			
						<div class="linha-dados">
							<span class="dados-nome" th:text="${#strings.capitalize(saida.cliente)}"></span>
							<span class="dados-produto" th:text="${#strings.capitalize(saida.produto)}"></span>
							<span class="dados-quantidade" th:text="${saida.quantidade}"></span>
							
							<span class="dados-valorUnitario" th:text="${#numbers.formatDecimal(saida.valorUnitario, 1, 'POINT', 2, 'COMMA')}"></span>
							<span class="dados-valorTotal" th:text="${#numbers.formatDecimal(saida.valorTotal, 1, 'POINT', 2, 'COMMA')}"></span>
							
							<span class="dados-dataEntrada" th:text="${#temporals.format(saida.dataEntrada, 'HH:mm - dd/MM/yyyy')}"></span>
							<span class="dados-dataConcluida" th:text="${#temporals.format(saida.dataConcluido, 'HH:mm - dd/MM/yyyy')}"></span>
							<span class="dados-dataSaida" th:text="${#temporals.format(saida.dataSaida, 'HH:mm - dd/MM/yyyy')}"></span>
							
						    <span class="dados-funcionario" th:text="${#strings.capitalize(saida.funcionario)}"></span>

						</div>
						
               		</div>
               	</div>
            </main>
        </div>
    </section>
    
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
</body>
</html>
