<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/scripts/fragments/theme.js}" defer></script>    
</head>
<body>
    <!-- header.css -->
    <header th:replace="fragments/header :: header"></header>
    
    <!-- section.css -->
    <section>

        <div>

            <!-- aside.css -->
            <header th:replace="fragments/aside :: aside"></header>
            
            <!-- Main -->
            <main>

            	<!-- titulo.css -->
                <div class="titulo">
                    <img th:src="@{/images/entrada(70x70).svg}">
                    <h2>SAIDA</h2>
                </div>
                
                
                <!-- Entrada De Peças -->
                <div class="lista">
					<div>
						<h2>Lista de Saídas</h2>
						<div class="titulo">
							<span class="titulo-nome">Cliente</span>
							<span class="titulo-produto">Produto</span>
							<span class="titulo-quantidade">Quantidade</span>
							<span class="titulo-valorUnitario">Valor Unitário (R$)</span>
							<span class="titulo-valorTotal">Valor Total (R$)</span>
							<span class="titulo-dataEntrada">Data Entrada</span>
							<span class="titulo-dataConcluida">Data Concluída</span>
							<span class="titulo-dataSaida">Data Saída</span>
							<!-- <span class="titulo-funcionario">Funcionário</span>  -->
							<span class="titulo-acoes">Ações</span>
						</div>
						
						<div class="linha-dados" th:each="saida : ${saidas}">
							<span class="dados-nome" th:text="${#strings.capitalize(saida.cliente)}"></span>
							<span class="dados-produto" th:text="${#strings.capitalize(saida.produto)}"></span>
							<span class="dados-quantidade" th:text="${saida.quantidade}"></span>
							
							<span class="dados-valorUnitario" th:text="${#numbers.formatDecimal(saida.valorUnitario, 1, 'POINT', 2, 'COMMA')}"></span>
							<span class="dados-valorTotal" th:text="${#numbers.formatDecimal(saida.valorTotal, 1, 'POINT', 2, 'COMMA')}"></span>
							
							<span class="dados-dataEntrada" th:text="${#temporals.format(saida.dataEntrada, 'HH:mm - dd/MM/yyyy')}"></span>
							<span class="dados-dataConcluida" th:text="${#temporals.format(saida.dataConcluido, 'HH:mm - dd/MM/yyyy')}"></span>
							<span class="dados-dataSaida" th:text="${#temporals.format(saida.dataSaida, 'HH:mm - dd/MM/yyyy')}"></span>
							
						    <!-- <span class="dados-funcionario" th:text="${#strings.capitalize(saida.funcionario != null ? saida.funcionario : 'Não informado')}"></span>  -->
							
							<div class="acoes">
						        <a class="editar" href="#" onclick="confirmarEdicao(this)"
						        th:attr="data-url=@{/saidas/editar/{id}(id=${saida.id})}">
									<p>Editar</p>
									<img th:src="@{/images/edit(24x24).svg}">
								</a>
						        <a class="excluir" href="#" onclick="confirmarExclusao(this)"
								th:attr="data-url=@{/saidas/remover/{id}(id=${saida.id})}">
									<p>Excluir</p>
									<img th:src="@{/images/delete(24x24).svg}">
								</a>
						    </div>
						    
						</div>
					</div>
				</div>
            </main>
            
        </div>

    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/scripts/confirmacoes.js}"></script>
    
</body>
</html>
