<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/scripts/fragments/theme.js}" defer></script>
    <script th:src="@{/scripts/fragments/confirmacoes.js}" defer></script>  
</head>
<body>
    <!-- header.css -->
    <header th:replace="fragments/header :: header"></header>
    
    <!-- section.css -->
    <section>
        <div>
            <!-- aside.css -->
            <aside th:replace="fragments/aside :: aside"></aside>
            
            <!-- Main -->
            <main>
            	<!-- titulo.css -->
                <div class="titulo">
                    <img th:src="@{/images/entrada(70x70).svg}">
                    <h2>SAIDA</h2>
                </div>
                
                
                <!-- Saida De Peças -->
                <div class="lista">
					<div>
						<h2>Histórico de Saídas</h2>
						
						<!-- Busca -->
						<div class="busca-container">
							<form class="busca" th:action="@{/saidas/lista}" method="get">
							    <input type="text" name="buscaCliente" th:value="${buscaCliente}" placeholder="Buscar por cliente..." />
							    <input type="hidden" name="page" value="0">
							    <button type="submit">Buscar</button>
							</form>
                        
	                        <form class="busca" th:action="@{/saidas/lista}" method="get">
							    <input type="text" name="buscaProduto" th:value="${buscaProduto}" placeholder="Buscar por produto..." />
							    <input type="hidden" name="page" value="0">
							    <button type="submit">Buscar</button>
							</form>
						</div>

						<!-- titulo -->
						<div class="titulo">
							<span class="titulo-nome">
                                <a th:href="@{/saidas/lista(page=${paginaSaidas.number}, size=${paginaSaidas.size}, buscaCliente=${buscaCliente}, buscaProduto=${buscaProduto}, sortBy='cliente', sortDirection=${sortBy == 'cliente' and sortDirection == 'asc' ? 'desc' : 'asc'})}">
                                    Cliente
                                    <span th:if="${sortBy == 'cliente'}" th:text="${sortDirection == 'asc' ? '▲' : '▼'}"></span>
                                </a>
                            </span>
							<span class="titulo-produto">
                                <a th:href="@{/saidas/lista(page=${paginaSaidas.number}, size=${paginaSaidas.size}, buscaCliente=${buscaCliente}, buscaProduto=${buscaProduto}, sortBy='produto', sortDirection=${sortBy == 'produto' and sortDirection == 'asc' ? 'desc' : 'asc'})}">
                                    Produto
                                    <span th:if="${sortBy == 'produto'}" th:text="${sortDirection == 'asc' ? '▲' : '▼'}"></span>
                                </a>
                            </span>
							<span class="titulo-quantidade">Quantidade</span>
							<span class="titulo-valorUnitario">Valor Unitário (R$)</span>
							<span class="titulo-valorTotal">Valor Total (R$)</span>
							<span class="titulo-dataEntrada">
                                <a th:href="@{/saidas/lista(page=${paginaSaidas.number}, size=${paginaSaidas.size}, buscaCliente=${buscaCliente}, buscaProduto=${buscaProduto}, sortBy='dataEntrada', sortDirection=${sortBy == 'dataEntrada' and sortDirection == 'asc' ? 'desc' : 'asc'})}">
                                    Data Entrada
                                    <span th:if="${sortBy == 'dataEntrada'}" th:text="${sortDirection == 'asc' ? '▲' : '▼'}"></span>
                                </a>
                            </span>
							<span class="titulo-dataConcluida">
                                <a th:href="@{/saidas/lista(page=${paginaSaidas.number}, size=${paginaSaidas.size}, buscaCliente=${buscaCliente}, buscaProduto=${buscaProduto}, sortBy='dataConcluido', sortDirection=${sortBy == 'dataConcluido' and sortDirection == 'asc' ? 'desc' : 'asc'})}">
                                    Data Concluída
                                    <span th:if="${sortBy == 'dataConcluido'}" th:text="${sortDirection == 'asc' ? '▲' : '▼'}"></span>
                                </a>
                            </span>
							<span class="titulo-dataSaida">
                                <a th:href="@{/saidas/lista(page=${paginaSaidas.number}, size=${paginaSaidas.size}, buscaCliente=${buscaCliente}, buscaProduto=${buscaProduto}, sortBy='dataSaida', sortDirection=${sortBy == 'dataSaida' and sortDirection == 'asc' ? 'desc' : 'asc'})}">
                                    Data Saída
                                    <span th:if="${sortBy == 'dataSaida'}" th:text="${sortDirection == 'asc' ? '▲' : '▼'}"></span>
                                </a>
                            </span>
							<!-- <span class="titulo-funcionario">Funcionário</span>  -->
							<span class="titulo-acoes">Ações</span>
						</div>
						
						<!-- Lista -->
						<div class="linha-dados" th:each="saida : ${paginaSaidas.content}">
							<span class="dados-nome" th:text="${#strings.capitalize(saida.cliente)}"></span>
							<span class="dados-produto" th:text="${#strings.capitalize(saida.produto)}"></span>
							<span class="dados-quantidade" th:text="${saida.quantidade}"></span>
							
							<span class="dados-valorUnitario" th:text="${#numbers.formatDecimal(saida.valorUnitario, 1, 'POINT', 2, 'COMMA')}"></span>
							<span class="dados-valorTotal" th:text="${#numbers.formatDecimal(saida.valorTotal, 1, 'POINT', 2, 'COMMA')}"></span>
							
							<span class="dados-dataEntrada" th:text="${#temporals.format(saida.dataEntrada, 'HH:mm - dd/MM/yyyy')}"></span>
							<span class="dados-dataConcluida" th:text="${#temporals.format(saida.dataConcluido, 'HH:mm - dd/MM/yyyy')}"></span>
							<span class="dados-dataSaida" th:text="${#temporals.format(saida.dataSaida, 'HH:mm - dd/MM/yyyy')}"></span>
							
						    <!-- <span class="dados-funcionario" th:text="${#strings.capitalize(saida.funcionario != null ? saida.funcionario : 'Não informado')}"></span>  -->
							
							<div class="acoes">
						        <a class="editar" href="#" onclick="confirmarEdicao(this)"
						        th:attr="data-url=@{/saidas/editar/{id}(id=${saida.id})}">
									<p>Editar</p>
									<img th:src="@{/images/edit(24x24).svg}">
								</a>
						        <a class="excluir" href="#" onclick="confirmarExclusao(this)"
								th:attr="data-url=@{/saidas/remover/{id}(id=${saida.id})}">
									<p>Excluir</p>
									<img th:src="@{/images/delete(24x24).svg}">
								</a>
						    </div>
						    
						</div>
						
						<!-- Paginação -->
						<div class="paginacao">
						    <span th:if="${paginaSaidas.totalPages > 1}">
						        <a th:if="${paginaSaidas.hasPrevious()}" 
						           th:href="@{/saidas/lista(page=${paginaSaidas.number - 1}, busca=${busca})}">
						            &laquo;
						        </a>
						
						        <span th:each="i : ${#numbers.sequence(0, paginaSaidas.totalPages - 1)}">
						            <a th:href="@{/saidas/lista(page=${i}, busca=${busca})}"
						               th:text="${i + 1}"
						               th:classappend="${i == paginaSaidas.number} ? 'pagina-atual'">
						            </a>
						        </span>
						
						        <a th:if="${paginaSaidas.hasNext()}" 
						           th:href="@{/saidas/lista(page=${paginaSaidas.number + 1}, busca=${busca})}">
						            &raquo;
						        </a>
						    </span>
						</div>
						
					</div>
				</div>
            </main>
            
        </div>

    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</body>
</html>
