<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Entrada</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
   	<script th:src="@{/scripts/fragments/theme.js}" defer></script>
</head>
<body>
    <!-- header.css -->
    <header th:replace="fragments/header :: header"></header> 
    
    <!-- section.css -->
    <section>
        <div>
            <!-- aside.css -->
            <header th:replace="fragments/aside :: aside"></header>
            
            <!-- Main -->
            <main>
            	<!-- titulo.css -->
                <div class="titulo">
                    <img th:src="@{/images/settings(70x70).svg}">
                    <h2>Configuração</h2>
                </div>

                <!--  <div class="cadastro">
                    <div>
                        <div>
                            <h2>Configuração</h2>
                        </div>
                    </div>
                </div>
                
                -->
                
                <div class="lista">
                	<div>
						<div>
											
							<h2>
								<button class="tema" onclick="toggleTheme()" >
								    <img th:src="@{/images/moon_stars(24x24).svg}" alt="Alternar Tema">
								    <h3>Modo Escuro</h3>
								</button>
							</h2>

						</div>                	
                	</div>
                	
                </div>
                
                <div class="lista">
                	<div>
						<div>
					
							<h2>
								<a th:href="@{/index}">Voltar para o início</a>
							</h2>
							
						</div>                	
                	</div>
                </div>
                
            </main>
        </div>
    </section>
</body>
</html>