<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Entrada</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/fragments/login.css}">
</head>

<body>
	
	<!-- CONTAINER -->
    <div class="container">
    
    	<!-- ESQUERDO -->
        <div class="left-panel">
            <img th:src="@{/images/entrada(70x70).svg}" alt="Ilustração de Login">
        </div>
        
    	<!-- DIREITO -->
        <div class="right-panel">
        
            <h2>LOGIN</h2>            
            <form th:action="@{/login}" method="POST">
	            <h2>Faça seu Login</h2>
	            <p>Insira seus dados abaixo</p>
	            
	            <div>
	                <label for="username">Usuário</label>
	                <input type="text" id="username" name="username" placeholder="Digite o usuário" required autofocus>
	            </div>
	            <div>
	                <label for="password">Senha</label>
	                <input type="password" id="password" name="password" placeholder="Digite a senha" required>
	            </div>
	            <div>
	                <input type="submit" value="Entrar">
	            </div>
	        </form>
	        
	        <div th:if="${param.error}">
		        <p>Usuário ou senha inválido</p>
		    </div>
		    <div th:if="${param.login}">
		    	<p>Você foi desconectado</p>
		    </div>
            
        </div>
        
    </div>
</body>
</html>
